* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Lato', sans-serif;
    overflow: hidden;
}

header {
    height: 100%;
}

.content {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    background-color: #2B89EA;
}

.logo {
    display: flex;
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: .08rem;
    color: white;
    align-items: center;
    margin: auto 1rem;
}

.logo img {
    height: 2.2rem;
    margin-right: .4rem;
}

.ham-menu {
    margin: auto 1rem;
}

.ham-menu img {
    height: 2.2rem;
}

.current {
    color: gray;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
    text-align: center;
    margin-top: 2rem;
    line-height: 5rem;
    font-size: 2rem;
    font-weight: 300;
}

.contentMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
    background-color: #2B89EA;
}

.hide {
    display: none;
}

.cont {
    content: url("../images/header/x.svg");
    height: 1.2rem !important;
    margin-right: .7rem;
}

@media screen and (min-width: 675px) {
    .content {
        background-color: aquamarine;
    }
}


/* transition: 0.3s ease-out; */